<p>
    <mat-toolbar color="accent">
        <button routerLink="/" mat-icon-button class="example-icon favorite-icon"
            aria-label="Example icon-button with home icon">
            <mat-icon>home</mat-icon>
        </button>
        <span  routerLink="/">Traffic Surveillance System</span>
        <span class="example-spacer"></span>

        <button routerLink="create-road" mat-icon-button class="example-icon"
            aria-label="Example icon-button with share icon" style="margin-right: 100px;">
            Add Road
        </button>

        <button  routerLink="road-list" mat-icon-button class="example-icon"
            aria-label="Example icon-button with share icon" style="margin-right: 100px;">
            List Of Road
        </button>

        <button  routerLink="traffic-data" mat-icon-button class="example-icon"
        aria-label="Example icon-button with share icon" style="margin-right: 100px;">
        Traffic Data
    </button>
    </mat-toolbar>

    <mat-toolbar color="accent" class="footer">
        <span class="text-center">&copy; 2024 <a style="text-decoration:none ;color:white"  href="https://www.instagram.com/youtuberrahulk/">Contact Me:) Instagram</a> ||
            <a style="text-decoration:none ;color:white"  href="https://www.linkedin.com/in/rahulmca2310/">LinkedIn</a>
        </span>
      </mat-toolbar>
      
</p>